@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Lato, sans-serif;
  scrollbar-width: thin;
}

html, body, #app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

html{
  background-color: #E2E2EA;
  color: #111827;
}

html.dark {
  background-color: #111827;
  color: #E2E2EA;
}

main {
  flex: 1;
}